@import "./variables.css";
@import "./animations.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:Poppins,sans-serif;

    overflow-x:hidden;

    background:linear-gradient(
        180deg,
        var(--bg-start),
        var(--bg-middle),
        var(--bg-end)
    );

    color:var(--text-dark);

}

button{

    cursor:pointer;
    border:none;
    outline:none;
    transition:var(--transition);

}

img{

    user-select:none;
    pointer-events:none;

}

a{

    text-decoration:none;

}